{% extends "base.html" %}
{% block content %}

Here is a summary of the IMAPEX users Github activity.

If you are a member of the imapex organization, you can resynchronize the user list on this site with the organization membership
by clicking <a href="/update">Here</a>
<br>


<div class="container-fluid">
    {% for key, value in cals.iteritems() %}
    <div class="row">

            <div class="col-md-4" style="border: 2px; padding-left: 2px">

                <h2>{{ key }}</h2>
                {{ value }}

            </div>
    </div>
    {% endfor %}

</div>
{% endblock %}
